
main{
  max-width: 640px;
  min-width: 380px;
  margin: auto;
  text-align: center;
}

.squaregroup1{
  float: left;
}

.squaregroup2{
  float: left;
}

.rectangle{
  float: left;
}

.square1{
  width: 140px;
  height: 140px;
  background-color: yellow;
  margin: 10px;
  float: left;
}

.square2{
  width: 140px;
  height: 140px;
  background-color: yellow;
  margin: 10px;
  float: left;
}

.square3{
  width: 140px;
  height: 140px;
  background-color: yellow;
  margin: 10px;
  float: left;
}

.square4{
  width: 140px;
  height: 140px;
  background-color: yellow;
  margin: 10px;
  float: left;
}


.rectangle1{
  width: 300px;
  height: 140px;
  background-color: brown;
  margin: 10px;
  float: left;
}

.rectangle2{
  width: 300px;
  height: 140px;
  background-color: brown;
  margin: 10px;
  float: left;
}
