
body{
  background-color: lightgrey;
  max-width: 1000px;
  margin: auto;
}

main{
  min-height: auto;
}

.container{
  border-top-style: solid;
  border-top-color: black;
}
h2{
  width: 500px;
}

li{
  list-style-type: none;
}

span{
  padding-right: 20px;
}


span:hover {
  background-color: #ddd;
}


ul.tasklist{
  list-style-type: none;
}


.tasklist-item-delete {
  float: right;
}


.btnAdd{
  padding: 10px;
  float: right;
}
